:root {
	background-color: #282b34 !important;
}

body {
	background-color: #282b34
}

#console {
	font-family: courier, monospace;
	color: #a8abb4;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:50px;
	font-size:1.2em !important;
}

a {
	color: #69b2b9;
	text-decoration: none;
}

#a {
	color: #a2b996;
}

#c {
	color: #69b2b9;
}

#b {
	color: #d57684;
}

#k {
    	animation: change 2s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #a2b996; }
    	80% { color:  #a2b996; }
    	99% { color:  #282b34; }
}