@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@supports (font-variation-settings: normal) {
    code { font-family: 'Fira Code VF', monospace; }
}

:root {
    background-color: #EEEEEE !important;
}

body {
    background-color: #EEEEEE;
	font-weight: 600;
}

#console {
    font-family: 'Fira Code', monospace;
    color: #101010;
    width: 750px;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-size: 1.2em !important;
}

p {
    padding-bottom: 0px;
}

a {
    color: #5BCEFA;
    text-decoration: none;
}

.p {
    color: #FF3B3F;
}

.c {
    color: #5BCEFA;
}

.purple {
    color: #ff00ff
}

.b {
    color: #5BCEFA;
}

.k {
    animation: change 2s;
}

.op {
    color: #101010;
}

@keyframes change {
    0% {
        color: #ffaabb;
    }
    80% {
        color: #ffaabb;
    }
    99% {
        color: #282b34;
    }
}

.topcorner {
    position: fixed;
    top: 1em;
    right: 0.5em;
}

.topcorner2 {
    position: fixed;
    top: 1em;
    left: 10em;
    cursor: pointer;
    pointer-events: none
}

.topcorner3 {
    position: fixed;
    top: .5em;
    left: .5em;
}

#switch {
    font-family: courier, monospace;
    font-size: 1.2em !important;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: #101010;
    cursor: pointer;
    border: 0px;
    padding: 2em;
    touch-action: manipulation;
}

@media (min-width: 768px) {
    .button-1 {
        padding: 0.25em 0.75em;
    }
}