:root {
    background-color: #f8f8ff !important;
}

body {
    background-color: #f8f8ff;
}

#console {
    font-family: courier, monospace;
    color: #25252D;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 1.2em !important;
}

a {
    color: #4242d8;
    text-decoration: none;
}

#a {
    color: #f599ab;
}

#c {
    color: #4bd862;
}

#b {
    color: #ff00ff;
}

#k {
    animation: change 2s;
}

#op {
    color: #32D6D4;
}

@keyframes change {
    0% {
        color: #f599ab;
    }
    80% {
        color: #f599ab;
    }
    99% {
        color: #282b34;
    }
}
